body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
}

.layer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border: 1px solid #000;
}

.wikiportret {
    background-color: rgb(0, 102, 153);
    color: white;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    max-width: 100%;
    margin-bottom: 0.075vh;
}

.content {
    font-size: 20px;
}

.layer1 {
    background-color: #ffcc00;
}

.layer2 {
    background-color: #33cc33;
}

.layer3 {
    background-color: #3366cc;
}

.layer4 {
    background-color: #cc3366;
}

.grayfield {
    width: 200px;
    height: 100px;
    background-color: rgb(221, 221, 221);
    border-radius: 15px; /* Adjust the radius to your preference */
}

.inputlayer {
    background-color: rgb(185, 233, 255);
    display: flex;
    line-height: 1.1;
}

/* CSS for the user info box (bottom of the page, shows who is currently logged in) */
/* This CSS code was generously provided by ChatGPT */
.user-info-box {
    position: fixed;
    bottom: 0.1vh; /* Adjust the distance from the bottom as needed */
    right: 0.1%; /* Adjust the distance from the right as needed */
    /* background-color: #3498db; */
    color: #808080;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
