/* CSS destined for the formatting of the review form */
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-column {
    flex: 1;
    margin: 10px;
    background-color: #e6f7ff;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-label {
    width: 100%;
}

.form-input {
    width: 100%;
}

.form-input {
    flex: 1;
    font-size: 20px;
}

.form-checkbox {
    font-size: 20px;
    height: 20px;
}

.horizontal-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5vh; /* Adjust the margin as needed */
    background-color: #d6fdd2;
    margin: 0.5%;
    border: #d6fdd2;
    border-radius: 10px;
    height: 10vh;
    padding-left: 1%;
    padding-right: 1%;
}

/* Style the labels and checkboxes to be inline */
.horizontal-bar label {
    display: block;
    text-align: center;
}

.horizontal-bar input[type="checkbox"] {
    display: block;
    margin: 0 auto;
}

/* Formatting of the dropdown select */
.form-select {
    font-size: 20px;
}