<!-- Main template for all pages (master for all other pages) -->
<!-- All changes to the page require the Jinja2 templating language -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Input_fields.css') }}">
    <script src="{{ url_for('static', filename='js/bg_input_field.js') }}"></script>

    <!-- End of the lay-out section -->
    <!-- Place shape bar -->
    <div class="wikiportret">
        Wikiportret
    </div>
   {% block head %}{% endblock %}
</head>
<body>
<div class="content">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
