<!-- Uses the Jinja2 engine to inherit from base.html -->
<!-- This page will be displayed whenever the program encounters an error -->
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block body %}
<!-- Just yield a screen that tells the user that they messed up -->
<div class="errormessage">
    ERROR - I could not handle your request!
</div>
The message I received is:</br>
{{message}}
    <div class="user-info-container">
        <div class="user-info-box">
            {% if user_name %}
                <span id="user-name">Ingelogd als {{ user_name }}</span>
                <form action="/logout" method="post">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% else %}
                <span id="user-name-unknown"><em>Niet aangemeld</em></span>
                <form action="/login" method="get">
                    <button type="submit" class="login-button">Aanmelden</button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
