{% extends 'base.html' %}

{% block head %}
    <title>Wikiportret processor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
{% endblock %}

{% block body %}
<div class="loading-container">
    {% if username %}
    <p>Hello {{ username }}!</p>
    <p><a href="{{ url_for('logout') }}">logout</a></p>
    {% else %}
    <p>Welkom bij Wikiportret! Om door te gaan dient u ingelogd te zijn!</p>
    <p><a href="{{ url_for('login') }}">Klik hier om in te loggen!</a></p>
    {% endif %}
</div>
<div class="user-info-box">
    <span id="user-name">Ingelogd als {{ user_name }}</span>
</div>

{% endblock %}
