{% extends 'base.html' %}

{% block head %}
    <title>Wikiportret - Nieuw Proces</title>
{% endblock %}

{% block content_title %}
    <h1>Nieuwe Afbeelding Verwerken</h1>
{% endblock %}

{% block body %}
    <div class="card" style="max-width: 600px;">
        <form action="load" method="POST">
            <div class="form-group">
                <label for="File">Naam v/d afbeelding op Commons</label>
                <input type="text"
                       id="File"
                       name="File"
                       class="form-input"
                       oninput="changeBackgroundColorFile(this.value)"
                       placeholder="Voorbeeld: File:Daniuuuuuuu.jpg">
            </div>

            <div class="form-group">
                <label for="Article">Naam v/h artikel</label>
                <input type="text"
                       id="Article"
                       name="Article"
                       class="form-input"
                       oninput="checkForProhibitedCharacters(this.value)"
                       placeholder="Voorbeeld: Edward Huntington">
            </div>

            <div class="mt-1 text-center">
                <button type="submit" id="submit-button" class="btn">Afbeelding Verwerken</button>
            </div>
            
            <script src="{{ url_for('static', filename='js/text_submit_field_1.js') }}"></script>
        </form>
    </div>
{% endblock %}
