<!-- HTML file for the review page -->
<!-- This file builds upon the code already listed in base.html -->
<!-- Uses the Jinja2 engine to inherit from base.html -->
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Review_form.css') }}">
{% endblock %}

{% block body %}
<!-- Generate the input section -->
 <div class="inputoverview">
    <!-- First layer: whatever the user entered in the input section -->
     <div class="left-element">
        Naam v/d afbeelding op Commons: <span class="user-input-frame">{{ bot.file }}</span>
     </div>
     <p></p> <!-- Put here to sync the height of the light blue layer to the height of the frames -->
     <div class="right-element">
         Naam v/h artikel: <span class="user-input-frame">{{ data.nlart }}</span>
     </div>

</div>
<form action="submit"
      method="POST">
    <div class="form-container">
        <!-- First column: information for Wikidata -->
        <div class="form-column">
            <span class="large">Informatie voor Wikidata:</span>
            <div class="form-group">
                <div class="label-checkbox">
                    <label for="i11" class="form-label">Naam v/d foto</label>
                    <input type="checkbox"
                           id="check11"
                           class="form-checkbox"
                           unchecked>
                </div>
                <input type="text"
                       id="i11"
                       class="form-input"
                       value="WIDGET NOG NIET GEBRUIKEN"
                       disabled>
            </div>
            <div class="form-group">
                <div class="label-checkbox">
                    <label for="i12" class="form-label">Datum waarop foto genomen is (DD/MM/YYYY)</label>
                    <input type="checkbox"
                           id="check12"
                           class="form-checkbox"
                           unchecked>
                </div>
                <input type="text"
                       id="i12"
                       class="form-input"
                       value="{{ bot.date.day }}/{{ bot.date.month }}/{{ bot.date.year}}"
                       disabled>
            </div>
            <div class="form-group">
                <div class="label-checkbox">
                    <label for="i13" class="form-label">Bewerkingssamenvatting</label>
                    <input type="checkbox"
                           id="check13"
                           class="form-checkbox"
                           unchecked>
                </div>
                <input type="text"
                       id="i13"
                       class="form-input"
                       value="{{ bot.sum }}"
                       disabled>
            </div>
        </div>
        <!-- Second column: all information on the image itself -->
        <div class="form-column">
            <span class="large">Informatie over de afbeelding:</span>
            <div class="form-group">
                <div class="label-checkbox">
                    <label for="i21"
                           class="form-label">Naam v/d categorie op Wikimedia Commons</label>
                    <input type="checkbox"
                           id="check21"
                           class="form-checkbox"
                           unchecked>
                </div>
                <input type="text"
                       id="i21"
                       class="form-input"
                       value="{{ bot.name }}"
                       disabled>
            </div>
            <div class="form-group">
                <div class="label-checkbox">
                    <label for="i22" class="form-label">Bijschrift op de Nederlandstalige Wikipedia</label>
                    <input type="checkbox"
                           id="check22"
                           class="form-checkbox"
                           unchecked>
                </div>
                <input type="text"
                       id="i22"
                       value="{{ bot.name }} in {{ bot.date.year }}"
                       class="form-input"
                       disabled>
            </div>
            <div class="form-group">
                <div class="label-checkbox">
                    <label for="license" class="form-label">Afbeelding vrijgegeven onder licentie</label>
                    <input type="checkbox"
                           id="check23"
                           class="form-checkbox"
                           unchecked>
                </div>
                <select id="license"
                        class="form-select"
                        disabled>
                    <option value="Commons" selected>Inladen vanaf Commons</option>
                    {% for option in license_options %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <!-- And fully at the bottom, we have a third bar with checkboxes -->
    <div class="horizontal-bar">
        <div class="center-align">
            <label for="checkbox1">Verzorg alle data op Commons</label>
            <input type="checkbox"
                   id="checkbox1"
                   checked>
        </div>
        <div class="center-align">
            <label for="checkbox2">Koppel de afbeelding aan Wikidata</label>
            <input type="checkbox"
                   id="checkbox2"
                   checked>
        </div>
        <div class="center-align">
            <label for="checkbox3">Plaats de afbeelding op nlwiki</label>
            <input type="checkbox"
                   id="checkbox3"
                   checked>
        </div>
    </div>

    <input type="submit" value="Submit">
    <script src="{{ url_for('static', filename='js/checkbox_input_text.js') }}"></script>
    <script src="{{ url_for('static', filename='js/checkbox_selector.js') }}"></script>

</form>
<div class="user-info-box">
    <!-- Keep the name of the logged-in user -->
    <span id="user-name">Ingelogd als {{ user_name }}</span>
</div>
{% endblock %}
