<!-- HTML file for the review page -->
<!-- This file builds upon the code already listed in base.html -->
<!-- Uses the Jinja2 engine to inherit from base.html -->
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- Generate the input section -->
 <div class="inputlayer">
    <!-- First Input: name of the file on Commons -->
    <form action="review"
          style="display: flex;"
          method="POST">

        <p>Naam v/d afbeelding op Commons </p>
        <input type="text"
               id="File"
               name="File"
               style="background-color: rgb(185, 233, 255);"
               oninput="changeBackgroundColorFile(this.value)"
               placeholder="Naam van het bestand">

        <!-- Second Input: name of the Article on the Dutch Wikipedia -->
        <p>Naam v/h artikel</p>
        <input type="text"
               id="Article"
               name="Article"
               style="background-color: rgb(185, 233, 255);"
               placeholder="Naam van het artikel">

        <!-- Button to submit this file to the server -->
        <input type="submit"
               value="VERWERK">
    </form>
</div>
{% endblock %}
