{% extends 'base.html' %}

{% block head %}
    <title>Wikiportret - Verwerken...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
{% endblock %}

{% block content_title %}
    <h1>Bezig met Verwerken</h1>
{% endblock %}

{% block body %}
    <div class="card text-center" style="max-width: 500px; margin: 0 auto;">
        <h2>Uploaden...</h2>
        <div class="progress-bar mt-1">
            <div class="progress"></div>
        </div>
        <p id="loading-message" class="text-secondary mt-1">De bot is momenteel bezig met het plaatsen van de afbeelding op de geselecteerde wiki's.</p>
    </div>
    <script src="{{ url_for('static', filename='js/loading_submit.js') }}"></script>
{% endblock %}